/* Base Styles -------------------- */
body{
	font-family: 'Merriweather', serif;
	/*remove space from fixed navbar*/
	margin-top: 50px;
}

.container{
	max-width: 1150px;
}

img{
	width: 100%;
}

a, h1, h3{
	font-family: 'Montserrat', sans-serif;
}

h1{
	line-height: 50px;
	font-size: 42px;
}

h2{
	line-height: 40px;
	font-size: 27px;
}

p{
	line-height: 30px;
	font-size: 18px;
}

h1, h2, p{
	margin-bottom: 35px;
}

h3{
	font-size: 22px;
	line-height: 30px;
}

h4{
	font-size: 8px;
	line-height: 20px;
}

.show-later{
	display: none;
}



/* -------------------- */
/* Base Styles -------------------- */
/* -------------------- */

	/* Change Bootstrap Defaults -------------------- */
	/* change nav bar bg */
	.navbar-inverse, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
		background-image: none;
		background-color: #28363e;
	}

	.navbar-inverse .navbar-toggle{
		border-color: #3b4a52;
	}

	.navbar{
		border: none;
	}

	/* navbar li bg */
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
		background-image: none;
		background-color: #1e2930;
	}

	.active{
		border-bottom: #20d7cd solid 2px;
	}

	/* change default navbar links */
	.navbar-inverse .navbar-nav>li>a {
		color: #8198a0;
		font-weight: 400;
	}

	.navbar-inverse .navbar-nav>li>a{
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}

	.logo-img{
		max-width: 100px;
	}

	.menu-bar->ul{
		overflow:visible;
	}

/* Header -------------------- */

header{
	background-color: #8198a0;
	padding: 100px 0px;
}

.heading_padding{
 	border-left: 10px solid #eeac56;
  	width: 75%;
}

header h1{
	background-color: #eeac56;
  	padding: 0px;
  	color: #fff; 
  	display: inline;
  	margin: 0; 
}

header h1 span{
	position: relative;
  	left: -5px; 
}


/* -------------------- */	
/* Content Area -------------------- */
/* -------------------- */

#main{
	padding: 40px 0px;
}

/* Main content style -------------------- */	
.qoute-text{
	color: #8198a0;
    float: right;
    width: 480px;
    padding: 35px 0px 0px 35px;
    line-height: 42px;
	font-size: 27px;
}

.qoute-author{
	float: right;
    clear: both;
    padding: 35px;
    width: 500px;
    text-align: right;
}

/* special header style -------------------- */
.main-content .fancy-heading{
	margin: 200px 0px 0px 0px;
}

.fancy-heading > h1 {
    text-align: center;
    border-bottom: 5px solid #e9e7e8;
    line-height: 0;
    padding: 0;
}

.fancy-heading > h1 > span {
    background: #fff;
    padding: 0 15px;
}

/* teaser style -------------------- */
.teaser{
	padding: 30px 0px;
}

.teaser-img{
	border-radius: 5px;
}

.teaser-cont{
	padding: 0px 0px 30px 0px;
}

.teaser-title{
	margin: -10px 0px 10px 0px;
	color: #20d7cd;
}



/* -------------------- */	
/* Sidebar Area -------------------- */
/* -------------------- */
.sidebar h3{
	text-align: center;
	margin: 0px;
	font-weight: 700;
}

/* mini menu style -------------------- */
.submenu{
	border: 2px solid #e9e7e8;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 10px 0px 20px 0px;
}

.submenu_ul{
	padding: 0px;
}

.submenu_ul > li{
	list-style-type: none;
}

.submenu_ul > li > a{
	padding: 5px 20px;
	display: block;
	text-decoration: none;
}

.submenu_ul > li > a:hover{
	background-color: #1ed6cb;
	color: #fff;
}

/* hero dp style -------------------- */
.profile-img{
	position: relative;
}

.profile-img > .hero-img-bg{
	background: url('../img/hk-skyline.jpg');
	background-size: cover;
	height: 130px;
	border-radius: 5px 5px 0px 0px;
}

.thumb-pic{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	position: absolute;
	top: 85px;
	left: 50%;
    margin-left: -45px;
	border: 3px solid #ebebeb;
}

/* profile info style -------------------- */
.profile-details{
	padding: 70px 20px 20px 20px;
	background-color: #e9e7e8;
}

.pd-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 27px;
	font-weight: 700;
}

.pd-info{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 27px;
	padding-left: 15px;
}

/* contact form style -------------------- */
.profile-form{
	background-color: #d7d3d3;
	padding:20px;
}

input[type="text"], textarea{
	border-radius: 5px;
	border:#cbc8c9 1px solid;
	background-color: #fafafa;
	width: 100%;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.profile-form > form > label{
	font-size: 15px;
	font-weight: 300;
	margin-top: 10px;
}

.profile-form > form > label, .profile-form h4{
	font-family: 'Montserrat', sans-serif;
	color: #a2a0a1;
}

.profile-form h4{
	line-height: 0px; margin: 10px 0px;
	text-align: right;
}

.profile-form > form > .submit-button{
	font-family: 'Montserrat', sans-serif;
	background-color: #19beb2;
	border:0px;
	color: #fff;
	width: 100%;
	padding: 10px 0px;
	margin-top: 20px;
	border-radius: 5px;
}

/* sidebar office style -------------------- */
.profile-office{
	background-color: #e9e7e8;

}
.profile-sub-heading{
	padding: 20px 20px 10px 20px;
}

.profile-address{
	padding: 20px 20px 30px 20px;
	border-radius: 0px 0px 5px 5px;
}

.profile-address > p > span{
	text-transform: uppercase;
}

.profile-address > p{
	margin: 0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 27px;
}



/* -------------------- */	
/* Articles Area -------------------- */
/* -------------------- */
.articles{
	padding: 20px 0px;
}

.articles > .article-boxes{
	padding-top: 30px;
	clear: both;
}

.article-box{
	padding-bottom: 30px;
}

.article-box > .article-box-info{
	padding: 20px;
	border-left: 2px solid #e9e7e8;
	border-right: 2px solid #e9e7e8;
	border-bottom: 2px solid #e9e7e8;
	border-radius: 0px 0px 5px 5px
}

.article-img{
	border-radius: 5px 5px 0px 0px
}

.article-title{
	margin: 0px 0px 10px 0px;
	color: #20d7cd;
}

.article-content{
	margin: 0px;
	color: #8c9b9e;
}



/* -------------------- */	
/* Footer Area -------------------- */
/* -------------------- */
footer{
	background-color: #28363e;
	padding: 60px 0px;
}

.footer-box{
	text-align: center;
}

footer h3{
	color: #fff;
}

footer ul{
	padding: 0px;
}

footer ul > li{
	list-style: none;
}

footer ul > li > a{
	color: #71868b;
	line-height: 34px;
	font-size: 18px;
	font-family: 'Merriweather', serif;
}

footer ul > li > a:hover{
	color: #fff;
	text-decoration: none;
}

/* -------------------- */	/* -------------------- */	/* -------------------- */	
/* -------------------- */	/* -------------------- */	/* -------------------- */	

/* -------------------- */	
/* Media Queries 768px - 1200px -------------------- */
/* -------------------- */
	@media only screen and (min-width : 768px) and (max-width: 1200px) {
		/* Articles Area -------------------- */
		.article-boxes .article-box:nth-child(2n+3){
			clear: both;
		}
	}

/* -------------------- */	
/* Media Queries 1199px -------------------- */
/* -------------------- */
	@media only screen and (max-width : 1199px) {
	/* Sidebar Area -------------------- */
		.submenu{
			text-align: center;
		}
		.submenu_ul{
			padding-top: 20px;
		}
		.submenu_ul > li > a, .submenu_ul > li{
			display: inline;
		}

		/* profile info style -------------------- */
		.profile-details > table{
			margin: 0px auto;
		}
		.profile{
			margin-bottom: 30px;
			border-radius: 5px;
		}
		.profile-details{
			border-radius: 0px 0px 5px 5px;
		}

		/* form -------------------- */
		.profile-form{
			width: 48%;
			float: left;
    		border-radius: 5px;
		}

		/* office map -------------------- */
		.profile-office{
			width: 48%;
			float: right;
			border-radius: 5px;
		}

		.profile-address{
			text-align: center;
		}

		/* Articles Area -------------------- */
		.articles{
			margin-top: 70px;
			clear: both;
		}
	}

/* -------------------- */	
/* Media Queries 768px -------------------- */
/* -------------------- */
	@media only screen and (max-width : 768px) {
		/* Base Styles -------------------- */
		p{
			line-height: 27px;
			font-size: 16px;
		}
		h1{
			line-height: 45px;
			font-size: 32px;
		}
		h2, .qoute-text{
			line-height: 35px;
			font-size: 24px;
		}
		h3{
			font-size: 28px;
			line-height: 30px;
		}
		h4{
			font-size: 8px;
			line-height: 20px;
		}
		.show-later{
			display: block;
		}

		.hide-later{
			display: none;
		}

		/* Header -------------------- */
		header{
			padding: 70px 0px;
		}
		.heading_padding{
			width: 100%;
		}
		header h1{
			line-height: 39px;
		}

		/* Main content style -------------------- */	
		.qoute-text{
			float: none;
			padding: 0px;
		}
		.qoute-author{
			width: 100%;
			float: none;
			text-align: left;
			padding: 20px 0px;
		}

		/* teaser style -------------------- */
		.main-content .fancy-heading{
			margin:100px 0px 0px 0px;
		}

		/* sidebar -------------------- */
		.profile-form{
			width: 100%;
			float: none;
		}

		/* office map -------------------- */
		.profile-office{
			margin-top: 30px;
			width: 100%;
			float: none;
		}

		/* footer style -------------------- */
		footer ul > li > a{
			font-size: 16px;
			line-height: 27px;
		}

		.half{
			float: left;
			width: 48%;
		}

		.half-2{
			float: right;
			width: 48%;
		}
	}

/* -------------------- */	
/* Media Queries 480px -------------------- */
/* -------------------- */

	@media only screen and (max-width : 480px) {
		/* Main content style -------------------- */	
		.qoute-text{
			width: 100%;
		}

		/* Sidebar Area -------------------- */
		.submenu_ul{
			padding: 20px 0px 10px 0px;
		}
		.submenu_ul > li > a, .submenu_ul > li{
			display: block;
		}

		/* teaser style -------------------- */
		.teaser, .teaser .col-xs-3, .teaser .col-xs-9{
			width: 100%;
		}
		.teaser-info{
			margin-bottom: 0px;
		}
		.crop{
    	     height: 200px;
    		 overflow: hidden;
    		 border-radius: 5px;
    		 margin: 0px auto;
    		 margin-bottom: 30px;
		}
	}



































